.badge{
    @extend .tg-body-sm;

    padding: 5px 10px;
    border-radius: 12px;
    border: 1px solid transparent;
}

.badge-yellow{
    background: #FFCF0F;
    color: #FFFEEC;
}

.badge-yellow-light{
    background: #FFF9CF;
    color: #7B5C03;
}

.badge-green{
    background: #44C13C;
    color: #FFFEEC;
}

.badge-green-light{
    background: #E6FBD9;
    color: #0F5B1D;
}

.badge-red{
    background: #FF513A;
    color: #FFFEEC;
}

.badge-red-light{
    background: #FFE8D7;
    color: #931222;
}

.badge-blue{
    background: #4040F2;
    color: #FFFEEC;
}

.badge-blue-light{
    background: #D8D8FE;
    color: #181894;
}

.badge-grey{
    background: #F1F1F1;
    color: #242D35;
}

.badge-grey-light{
    background: #FAFAFA;
    color: #242D35;
}

.badge-white{
    background: #FFFFFF;
    color: #242D35;
    border-color: #F1F1F1;
}

.badge-white-light{
    background: #FFFFFF;
    color: #242D35;
}