@font-face {
    font-family: 'Airbnb Cereal App';
    src: url('./fonts/AirbnbCerealApp-Bold.eot');
    src: url('./fonts/AirbnbCerealApp-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AirbnbCerealApp-Bold.woff2') format('woff2'),
        url('./fonts/AirbnbCerealApp-Bold.woff') format('woff'),
        url('./fonts/AirbnbCerealApp-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Airbnb Cereal App';
    src: url('./fonts/AirbnbCerealApp-Black.eot');
    src: url('./fonts/AirbnbCerealApp-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AirbnbCerealApp-Black.woff2') format('woff2'),
        url('./fonts/AirbnbCerealApp-Black.woff') format('woff'),
        url('./fonts/AirbnbCerealApp-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Airbnb Cereal App';
    src: url('./fonts/AirbnbCerealApp-Book.eot');
    src: url('./fonts/AirbnbCerealApp-Book.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AirbnbCerealApp-Book.woff2') format('woff2'),
        url('./fonts/AirbnbCerealApp-Book.woff') format('woff'),
        url('./fonts/AirbnbCerealApp-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Airbnb Cereal App';
    src: url('./fonts/AirbnbCerealApp-ExtraBold.eot');
    src: url('./fonts/AirbnbCerealApp-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AirbnbCerealApp-ExtraBold.woff2') format('woff2'),
        url('./fonts/AirbnbCerealApp-ExtraBold.woff') format('woff'),
        url('./fonts/AirbnbCerealApp-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Airbnb Cereal App';
    src: url('./fonts/AirbnbCerealApp-Light.eot');
    src: url('./fonts/AirbnbCerealApp-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AirbnbCerealApp-Light.woff2') format('woff2'),
        url('./fonts/AirbnbCerealApp-Light.woff') format('woff'),
        url('./fonts/AirbnbCerealApp-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Airbnb Cereal App';
    src: url('./fonts/AirbnbCerealApp-Medium.eot');
    src: url('./fonts/AirbnbCerealApp-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AirbnbCerealApp-Medium.woff2') format('woff2'),
        url('./fonts/AirbnbCerealApp-Medium.woff') format('woff'),
        url('./fonts/AirbnbCerealApp-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

